@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

.project {
  background-color: var(--background-color);
  padding: 30px 0;
  z-index: 10;
}

.project .nav.nav-pills {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
  margin-bottom: 5%;
}
.project .nav.nav-pills .nav-item {
  width: 50%;
}

.project .nav.nav-pills .nav-link {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  width: 100%;
  font-size: 25px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  background: linear-gradient(
    90.21deg,
    var(--primary-color) -5.91%,
    var(--second-color) 111.58%
  );
  border: 1px solid rgb(49, 49, 49);
}

.nav-link#projects-tabs-tab-first {
  position: static;
  border: 1px solid #fff;
  border-radius: 10px;
}
.nav-link#projects-tabs-tab-second {
  position: static;
  border: 1px solid #fff;
  border-radius: 10px;
}