.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 10;
}

.container-profile img {
  border-radius: 50%;
  width: 35%;
  height: auto;
}

.container-profile h1 {
  font-size: 40px;
  font-weight: 900;
}

@media (min-width:992px) {
  .container-profile img {
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .container-profile img {
    width: 25%;
  }
}