.container-error {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100vw;
  margin: 100px 10px 100px 10px;
}

.container-error h1 {
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: var(--text-main);
}

.container-error p {
  font-size: 30px;
  color: var(--text-secondary);
}

@media (min-width: 576px) {
  .container-error {
    width: 100%;
    margin: 100px 10px 80px 10px;
  }
}

@media (min-width: 768px) {
  .container-error {
    margin: 100px 10px 60px 10px;
  }
}

@media (min-width: 992px) {
  .container-error {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px 40px 10px;
  }

  .container-error > div:nth-child(3) {
    grid-column: 1 / -1;
  }

  .container-error h1 {
    font-size: 150px;
  }

  .container-error p {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .container-error h1 {
    font-size: 180px;
  }
}
