.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  height: 0;
}

.contact-item {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .contact-links {
    opacity: 1;
    height: auto;
  }

  .contact-icon {
    margin-bottom: 2px;
    font-size: 34px;
  }

  .contact-description {
    font-size: 26px;
  }
}
