.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: var(--primary-color);
  border-radius: 12px;
  gap: 20px;
  padding: 30px 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label,
.form-input,
.form-textarea {
  font-size: 18px;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.form-label {
  padding: 5px;
}

.form-input {
  border-radius: 12px;
  border: 1px solid var(--secondary-color);
  height: 25px;
  width: auto;
  padding: 10px;
}

.form-textarea {
  display: block;
  border-radius: 12px;
  width: auto;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  box-shadow: 2px 2px 12px var(--secondary-color);
}

@media (min-width: 767px) {
  .form {
    padding: 30px 15px;
  }
}
