.container-skill {
  padding: 30px 0px 60px 0;
}

.container-skill h1 {
  font-size: 40px;
  font-weight: 900;
}

.box-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 20px;
}

.skill-card {
  background-color: var(--second-color);
  box-shadow: 0 0 10px 4px white;
  border-radius: 9px;
  padding: 5px;
}

.skill-card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.skill-card li {
  flex: 0 0 50%;
  padding: 10px;
  font-size: 16px;
  color: var(--text-main);
}

.skill-card h2 {
  font-weight: 900;
  font-size: 18px;
  color: var(--text-main);
  text-align: center;
}

@media (min-width: 768px) {
  .skill-card li {
    flex-basis: 25%;
  }

  .skill-card li {
    font-size: 18px;
  }
  
  .skill-card h2 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .box-skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
