@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

.container-about {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 10%;
  max-width: auto;
  padding: 10%;
  padding: auto;
  background: #161c28;
  padding-top: 10%;
  padding-bottom: 20%;
}

@media (min-width: 992px) {
  .container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (min-width: 1200px) {
  .container-about {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (min-width: 1400px) {
  .container-about {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}