.container-about {
  display: grid;
  grid-template-columns: repeat(1fr);
  background:  var(--background-color);
  padding: 60px 10px 80px 10px;
  grid-gap: 60px;
}

@media (min-width: 768px) {
  .container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 60px 150px 0px;
    grid-gap: 0px;
  }
}

@media (min-width: 768px) {
  .container-about {
    padding-right: 200px;
  }
}
