.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar a {
  padding: 0 20px;
  text-decoration: none;
  color: var(--text-main);
  font-size: 30px;
  font-family: cursive;
}

.nav-bar a:hover {
  color: var(--background-color);
}

.nav-menu {
  width: 0;
  height: 0;
  opacity: 0;
  background-color: transparent;
}

.nav-menu.active {
  width: auto;
  height: auto;
  opacity: 1;
  transition: width 0.5s ease-out;
  background-color: var(--primary-color);
  padding-right: 50px;
}

.hamburger {
  display: flex;
  padding-right: 90%;
  padding-top: 20px;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav-bar {
    align-items: center;
  }

  .nav-bar a:hover {
    color: var(--primary-color);
  }

  .nav-menu {
    display: flex;
    opacity: 1;
    width: auto;
    height: auto;
  }
}