.container-contact {
  display: grid;
  grid-template-columns: 1fr;
  background-color: transparent;
  border-radius: 30px;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-contact h1 {
  font-size: 40px;
  font-weight: 900;
}

.div-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.contact-links a {
  text-decoration: none;
  color: var(--text-main);
  opacity: 0;
  height: 0;
}

.div-contact img {
  height: auto;
  width: auto;
  padding-right: 5px;
}

.div-form form {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--third-color);
  margin-top:0;
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.div-form label {
  margin-top: 15px;
  color: var(--text-main);
}

.div-form input {
  border-radius: 5px;
  border: 1px solid var(--third-color);
  height: 25px;
  width: 100%;
  padding: 20px;
}

.div-form textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 20px;
  color: var(--text-secondary);
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
}

.buttons {
  width: 150px;
  height: 40px;
  background-color: var(--background-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-main);
  margin-bottom: 5%;
}

.buttons:hover {
  background-color: var(--text-main);
  color: var(--third-color);
}

.form-message {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 15px;
  color: var(--text-main);
}

.input-msg {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 70%;
}

.text-red {
  color: var(--text-main);
}

@media (max-width: 780px) {
  .input-msg {
    padding-left: 65%;
  }
}

@media (min-width: 992px) {
  .container-contact {
    grid-template-columns: repeat(2, 1fr);
    
  }
  
  .div-form form {
    border-radius: 30px;
    margin-top: 0px;
  }
  .contact-links a {
    opacity: 1;
    height: auto;
  }
}
