@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

.container-contact {
  background-color: var(--background-color);
  padding-bottom: 5%;
}

.rows {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 30px;
}

form {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 10%;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: var(--primary-color);
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 300px;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 20px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
}

.buttons {
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  margin-bottom: 5%;
}

.col-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 10%;
}

.col-contact h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 2%;
  text-align: center;
}
.col-contact p {
  font-size: 22px;
  text-align: center;
  color: #b8b8b8;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.contact-links {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5%;
  gap: 30px;
}
.contact-links a {
  width: 100%;
  padding-left: 5%;
}
.contact-links a:hover {
  border-radius: 10px;
  border: 1px solid rgb(211, 210, 210);
}

.col-contact img {
  height: auto;
  width: auto;
  padding-right: 1%;
}

.form-message {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 15px;
  color: #000000;
}

.input-msg {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 70%;
}
.text-red {
  color: rgb(124, 121, 121);
}

@media (max-width: 780px) {
  .input-msg {
    padding-left: 65%;
  }
}
