@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

.container-contact {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--primary-color);
  border-radius: 30px;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.div-contact h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 50px;
}

.div-contact p {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.contact-links a {
  text-decoration: none;
  color: #fff;
  opacity: 0;
  height: 0;
}

.contact-links a:hover {
  border-bottom: 1px solid rgb(211, 210, 210);
}

.div-contact img {
  height: auto;
  width: auto;
  padding-right: 5px;
}

.div-form form {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-top: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.div-form label {
  margin-top: 15px;
  color: var(--primary-color);
}

.div-form input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 100%;
  padding: 20px;
}

.div-form textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 20px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
}

.buttons {
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  margin-bottom: 5%;
}

.form-message {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 15px;
  color: #000000;
}

.input-msg {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 70%;
}

.text-red {
  color: rgb(124, 121, 121);
}

@media (max-width: 780px) {
  .input-msg {
    padding-left: 65%;
  }
}

@media (min-width: 992px) {
  .container-contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .div-form form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 0px;
  }
  .contact-links a {
    opacity: 1;
    height: auto;
  }
}
