:root {
  --primary-color: #aae9bc;
  --second-color: #e3f8f3;
  --third-color: #5ad3b9;
  --background-color: #fcfefb;
  --text-main: #020401;
  --text-secondary: #202020;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  background-color: var(--background-color)!important;
  color: var(--text-main) !important;
  font-family: "Centra", sans-serif !important;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 2%;
}

p {
  font-size: 30px;
  text-align: center;
  color: var(--text-main) ;
  padding-bottom: 2%;
}

a {
  font-size: 25px;
}
