@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

.banner {
  margin-top: 90px;
  padding: 20px;
  padding-top: 40px;
  background-color: black;
  display: grid;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    var(--primary-color) -5.91%,
    var(--second-color) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
}

.banner h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #fff;
}

.banner h2 {
  margin-top: 5%;
  margin-bottom: 6%;
}

.listVariants {
  color: #b8b8b8;
  font-size: 20px;
  letter-spacing: 0.8px;
  list-style: none;
  padding: 0;
}

.banner button {
  color: var(--primary-color);
  padding: 10px 30px;
  font-size: 1.3em;
  background: transparent;
  border-radius: 50px;
  border: 3px solid var(--primary-color);
  margin: 20px auto 0;
  cursor: pointer;
  opacity: 0.7;
}

.wrap {
  background-color: transparent;
  border: 0;
  padding-left: 0;
}

@media (min-width: 992px) {
  .banner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

